<header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light mb-5">
        <a class="navbar-brand text-white font-weight-bold" href="/">Starbook <span
                class="navbar-text text-info font-italic text-left"> A space trip!
            </span></a>
        <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon toggler"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link text-info" href="/newsfeed">Newsfeed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/profile">your profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="text-white">
<h1>edit your profile!</h1>

{{!-- image upload --}}

<h3>update your profile picture</h3>
<div class="photos-wrapper">
  {{#each photos}}
  <div class="photo-item">
    <img src="{{this.imgPath}}" alt="">
    {{!-- <h4>{{this.title}}</h4>
      <p>{{this.description}}</p> --}}
  </div>
  {{else}}
  <p>you are using a default picture</p>
  <p>you can do better!</p>
  {{/each}}
</div>

{{!-- edit profile info --}}

<form action="/editProfile/{{user.id}}" method="post">
  <a href="/photo/add"> Choose a profile picture</a>
  
  <label for="age">Enter your age:</label>
  <input type="text" name="age" value="{{user.age}}">
  <label for="bio">Tell something about yourself:</label>
  <input type="text" name="bio" value="{{user.bio}}">

  <label for="homeworlds">Choose your home world:</label>
  <select name="homeworld">
    {{#each planets}}
    <option value="{{this.name}}">{{this.name}}</option>
    {{/each}}
  </select>

  <label for="spaceships">Choose your spaceship</label>
  <select name="spaceship">
    {{#each spaceships}}
    <option value="{{this.name}}">{{this.name}}</option>
    {{/each}}
  </select>

  <label for="species">Choose your species</label>
  <select name="species">
    {{#each species}}
    <option value="{{this.name}}">{{this.name}}</option>
    {{/each}}
  </select>

  <button type="submit">Save</button>
</form>
</div>