<header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light mb-5">
        <a class="navbar-brand text-white font-weight-bold" href="/newsfeed">Starbook <span
                class="navbar-text text-info font-italic text-left"> Just for once, let me look on you with my own eyes...
            </span></a>
        <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon toggler"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link text-info" href="/newsfeed">Newsfeed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/profile/{{user.id}}">your profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container text-white titleEditProf">
    <h1 class="titleEdit">edit your profile!</h1>
</div>

<div class="text-white">
    <form action="/editProfile/{{user.id}}" method="post">
        <div class="form-group">
            <button class="btn btn-lg btn-block text-center buttonPhoto" type="submit"><a class="text-info form-control"
                    href="/photo/add"> Choose a profile picture!</a></button>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="age">Change your name:</label>
                <input type="text" class="form-control" name="username" value="{{user.username}}"
                    placeholder="you can be whoever you want">
            </div>
            <div class="form-group col-md-6">
                <label for="age">Enter your age:</label>
                <input type="text" class="form-control" name="age" value="{{user.age}}"
                    placeholder="i was young too, once">
            </div>
            <div class="form-group col-md-6">
                <label for="homeworlds">Choose your home world:</label>
                <select name="homeworld" class="form-control" placeholder="earth? really!?">
                    {{#each planets}}
                    {{#if isSelected}}
                    <option value="{{this.name}}" selected='selected'>{{this.name}}</option>
                    {{else}}
                    <option value="{{this.name}}">{{this.name}}</option>
                    {{/if}}
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="bio">Tell something about yourself:</label>
            <input type="text" name="bio" class="form-control" id="bio" value="{{user.bio}}"
                placeholder="this is unbelievable!">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="spaceships">Choose your spaceship</label>
                <select name="spaceship" class="form-control" placeholder="nope, a ferrari doesn't fly...">
                    {{#each spaceships}}
                    {{#if isSelected}}
                    <option value="{{this.name}}" selected='selected'>{{this.name}}</option>
                    {{else}}
                    <option value="{{this.name}}">{{this.name}}</option>
                    {{/if}}
                    {{/each}}
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="spaceships">Choose your species</label>
                <select name="species" class="form-control" placeholder="interesting face...">
                    {{#each species}}
                    {{#if isSelected}}
                    <option value="{{this.name}}" selected='selected'>{{this.name}}</option>
                    {{else}}
                    <option value="{{this.name}}">{{this.name}}</option>
                    {{/if}}
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-block text-center buttonPhoto" type="submit" href="/profile"><a
                    class="text-info form-control"> save (yourself) now</a></button>
    </form>
</div>
</div>