<header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light mb-5">
        <a class="navbar-brand text-white font-weight-bold" href="/newsfeed">Starbook <span
                class="navbar-text text-info font-italic text-left"> A space trip!
            </span></a>
        <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon toggler"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link text-info" href="/newsfeed">Newsfeed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="containerProfile text-white">
    <p class="username">welcome to the galaxy, {{user.username}}!</p>
<<<<<<< HEAD
    <img class="profilePic" src="{{user.profileImg.image}}" width="240px" height="240px" />
=======
<<<<<<< HEAD
    <img class="profilePic" onerror="if (src != " {{user.profileImg.image}}") src='/images/defaultImg.jpg' ;"
        src="{{user.profileImg.image}}" width="240px" height="240px" />
=======
    {{#if user.profileImg}}
    <img class="profilePic" src="{{user.profileImg.image}}" width="240px" height="240px" />
    {{else}}
    <img class="profilePic" src="/images/defaultImg.jpg" width="240px" height="240px" />
    {{/if}}
>>>>>>> 3872a47f2ec35924720ef0fbd273ed5077bf6886
>>>>>>> master
    <p>homeworld: {{planet}}</p>
    <p>age: {{user.age}}</p>
    <p class="aboutMe">about me: {{user.bio}}</p>
    <p>my spaceship: {{user.spaceship}}</p>
    <p>i am: {{user.species}}</p>
</div>

{{#if loggedInUser}}
<div class="functionalities">
    <div>
        <a class="text-white funcionalitiesElem" href="/addpost">write a post</a>
    </div>
    <div>
        <a class="text-white funcionalitiesElem" href="/editProfile/{{user._id}}">edit your profile</a>
    </div>
    <div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-lg btn-block text-center btn-primary buttonDeleteColor" data-toggle="modal"
            data-target="#exampleModal{{user._id}}">
            delete my profile
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal{{user._id}}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel{{user._id}}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel{{user._id}}">DELETE</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Do you really wanna leave this galaxy?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <a href="/deleteprofile/{{user._id}}" class="btn btn-danger">Delete</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}