<div>
  <p>Welcome to the galaxy {{user.username}}</p>
  <img src="../{{user.profileImg}}" width="200px" height="200px" />
  <p>Homeworld: {{planet}}</p>
  <p>Age: {{user.age}}</p>
  <p>About me: {{user.bio}}</p>
  <p>My spaceship:{{user.spaceship}}</p>
  <p>I am:{{user.species}}</p>

  {{#if loggedInUser}}
  <a href="/addpost">Write a post</a>
  <a href="/editProfile/{{user._id}}">Edit your profile</a>
  <a href="/deleteProfile/{{user._id}}">Delete Profile</a>
  <a href="/logout">Log out</a>
  {{/if}}
</div>