{{!-- {{#each users}}

{{/each}} --}}
<p>Profile of {{user.username}}</p>
<img src="../{{user.profileImg}}" width="200px" height="200px"/>
<p>Homeworld: {{planet.name}}</p>
<a href="/editProfile/{{user._id}}">Edit your profile</a>
<a href="/deleteProfile/{{user._id}}">Delete Profile</a>