<header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light mb-5">
        <a class="navbar-brand text-white font-weight-bold" href="/newsfeed">Starbook <span
                class="navbar-text text-info font-italic text-left"> the latest news from the galaxy!
            </span></a>
        <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon toggler"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/profile/{{userId}}">your profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>


<div class="newsfeed row text-white">
    <div class="col-9">
        <h1>galactic thoughts</h1>
        <br>
        <div>
            {{#each posts}}
            <div>
                <div>
                    <div class="row">
                        <div>
                            <div class="post-preview">
                                <h2 class="post-title">
                                    {{this.title}}
                                </h2>
                                <h3 class="post-content">
                                    {{this.body}}
                                </h3>
                                {{#if postImg}}
                                <img class="profilePic" src="{{this.postImg}}" width="40px" height="40px">
                                {{/if}}
                                <p class="post-meta">Posted by
                                    <a class="postAuthor" href="/profile/{{id}}">{{this.postedBy.username}}</a>
                                </p>
                                {{#if (isSameId this.postedBy._id ../userId)}}
                                 
                               <div>
                                    <!-- Button trigger modal -->
                                    <button type="button"
                                        class="btn btn-lg btn-block text-center btn-primary buttonDeleteColor"
                                        data-toggle="modal" data-target="#exampleModal{{this._id}}">
                                        delete 
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal{{this._id}}" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel{{this._id}}" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel{{this._id}}">DELETE
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Cancel</button>
                                                    <a href="/deletepost/{{this._id}}" class="btn btn-danger">Delete</a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/if}}
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>

            {{/each}}
        </div>


    </div>
    <div class="col-3">
        <br>
        <ul class="ulNewsfeed">
            <h3>hitchhikers' list</h3>
            <br>
            {{#each users}}
            <li>
                <a class="usersList" href="/profile/{{id}}">& {{this.username}}</a>
            </li>
            {{/each}}
        </ul>
    </div>

    <div class="giphy">
        <img src='{{giphy}}' width="300px" height="300px">
        
        <h4>{{{toLowerCase newFact.title}}}</h4>
        <p>{{newFact.body}}</p>
</div>